body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    text-align: center;
}

#section-1, #section-2, #section-3, #section-4, #footer {
    padding-left: 200px;
    padding-right: 200px;
}
#section-1, #footer {
    background-color: #1F2937;
}

#section-1 {
    padding-bottom: 100px;
}

#section-3 {
    background-color: #E5E7EB;
}

#header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 60px;
}

.hero {
    display: flex;
    flex: 1 1 0%;

    /* justify-content: space-between; */
    /* height: 80px; */
    /* gap: 725px; */
}

.hero-text {
    display: flex;
    font-size: 48px;
    text-align: left;
    color: #F9FAF8;
    flex: 1;
    font-weight: bolder;
}

.hero-subtext {
    max-width: 700px;
    text-align: left;
    color: #E5E7EB;
    font-size: 17px;
}

 h1 {
     margin-bottom: -15px;
 }
.image {
    display: flex;
    align-items: flex-end;
}

.button {
    background-color: #3882F6;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border: none;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
}

.button-1 {
    display: flex;
    border-radius: 8px;
}

/* SECTION 2 */

.catalog-head {
    font-size: 36px;
    color: #1F2937;
    padding: 10px;
    margin-bottom: 25px;
}
.catalog {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

#section-2 {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 65px;
    padding-bottom: 150px;
}

.text {
    max-width: 200px;
    font-size: 20px;
    color: #1F2937
}

.imgs {
    border: 5px solid #3882F6;
    border-radius: 16px;
}

/* SECTION 3 */

#section-3 {
    display: flex;
    padding: 200px;
    flex-direction: column;
}

.quote-block {
    display: flex;
    align-items: center;
    max-width: 900px;
    text-align: left;
    font-size: 36px;
    font-style: italic;
    color: lightslategray;
    padding-left: 200px;
}

.author {
    text-align: right;
    justify-content: right;
    font-weight: bold;
    padding-top: 25px;
    font-size: 17px;
    margin-left: auto;
    margin-right: 400px;
}

/* SECTION 4 */

#section-4 {
    padding: 100px;
}
.container {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right: 200px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #3882F6;
    border-radius: 10px;
    text-align: left;
}

.reward-text {
    color: #F9FAF8;
    font-weight: bolder;  
    font-size: 22px;
}
.reward-subtext {
    color: #F9FAF8;
    margin-bottom: -40px;
}

.button-2 {
    display: flex;
    border-radius: 8px;
}

.reward-button {
    text-align: center;
    margin-left: 905px;
    margin-right: 5px;
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    padding: 10px;
    padding-left: 65px;
    padding-right: 35px;
    border: 3px solid #F9FAF8;
}

/* FOOTER */


#footer {
    padding: 40px;
}

.footer-text {
    color: #F9FAF8;
}







a {
    text-decoration: none;
}

ul {
    display: flex;
    list-style-type:none;
    gap: 16px;   
}